body {
    position: relative;
    overflow-x:hidden;
    background: #f7f7fc;
    font-family: 'Roboto', sans-serif;
    font-family: 'Muli', sans-serif;
}

:root {
    --primary: #0b254b;
    --light: #ffffff;
    --light-blue: #F5F6FA;
    --grey: #eff2f7;
}
  
h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
    font-weight: 700;
}
  
.text-muted {
    color: var(--primary) !important;
    opacity: .7;
}
  
.bg-light {
    background-color: var(--light) !important;
}
  
.bg-light-blue {
    background-color: var(--light-blue) !important;
}
  
.shadow-sm {
    box-shadow: 0 0 1.25rem rgba(11,37,75,.05);
}
  
.shadow-hover {
    transition: 1s ease-in-out;
}
  
.shadow-hover:hover {
    transition: 1s ease-in-out;
    box-shadow: 0 .5rem 1rem rgba(11,37,75,.10)!important;
}
  
#sidebar-container {
    min-height: 100vh;
    margin-left: -18rem;
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}
  
  #sidebar-container .menu {
    width: 18rem;
  }
  
  #content-wrapper.toggled #sidebar-container {
    margin-left: 0;
  }
  
.circle {
    width: 50px;
    height: 50px;
}
  
.badge {
    padding: .5rem 1rem;
}
  
.bg-primary, .badge-primary {
    background-color: rgba(0, 123, 255, .1) !important;
}
  
.badge-secondary {
    background-color: var(--grey);
    color: var(--primary);
}
  
#content {
    overflow-y: auto;
    height: 100vh;
}

/* buat garis tabel g keliatan */
/* table {
    border-collapse: separate;
    border-spacing: 0 .5rem;
}
  
table thead th {
    border: 0 !important;
}
  
table tbody tr {
    background-color: var(--light);
}
  
table tbody td {
    border-top: 0 !important;
    line-height: 1.2;
} */
  
  
@media (min-width: 768px) {
    #sidebar-container {
      margin-left: 0;
    }
    #content-wrapper.toggled #sidebar-container {
      margin-left: -18rem;
    }
}

a:hover{
  color:white;
  text-decoration:none;
}

body, html{
    height: 100%;
}

#sidebar-container h4{
    color: white;
}

.menu .navbar-nav .user{
    color: white;
}

.sidebar-brand {
    background-color: #4fa4ff;
    font-weight: 600;
    font-size: 1.15rem;
    padding: 1.15rem 1.5rem;
    display: block;
    color: #f8f9fa;
}
.sidebar-header{
	text-transform:capitalize;
    padding: 1.5rem 1.5rem .375rem!important;
    font-size: 14px;
    color: #6e6e6e;
}

#sidebar > li > a{
    color:rgb(255, 255, 255)!important;
    text-transform: capitalize;
    font-size: 14px;
	padding:10px 10px 10px 20px!important;
    display: block;
    font-weight: 400;
    position: relative;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .2px;
}

.navbar-nav > li > a ,.submenu-box ul li a{
    color:rgb(0, 0, 0)!important;
    text-transform: capitalize;
    font-size: 14px;
	padding:10px 10px 10px 20px!important;
    display: block;
    font-weight: 400;
    position: relative;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .2px;
}

.submenu-box ul li a{
    padding:4px 10px 4px 20px!important;
    margin-left: 15px;
    color:#ffffff!important;
}

.navbar-nav > li > a.active{
    color: #e9ecef!important;
    background: linear-gradient(90deg,rgba(59,125,221,.1),rgba(59,125,221,.0875) 50%,transparent);
    border-left:4px solid #3b7ddd;
}

.navbar-nav .has-sub > a.collapsed::after {
    transition: 0.4s ease;
}

.navbar-nav .has-sub > a.collapsed::after {
    color:rgb(255, 255, 255);
    font-size: 10px;
    content: "\f078";
}
.navbar-nav .has-sub > a.collapsed::after {
   color:rgb(255, 255, 255);
}

.navbar-nav .has-sub > a::after {
    position: absolute;
    right: 0px;
    top: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    color:rgb(255, 255, 255);
    display: block;
    content: "\f077";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 13px;
    line-height: 30px;
    margin-top: -15px;
}

.has-sub li::before{
    content: '';
    height: 100%;
    opacity: 1;
    width: 3px;
    background: #fff;
    position: absolute;
    left: 20px;
    top: 0;
    border-radius: 15px;
}

#wrapper.toggled {
    padding-left: 270px;
}

.toggled#sidebar-wrapper {
    width:270px!important;
    height: 100%;
    left: 0px;
    overflow-y:auto;
    overflow-x:hidden;
    transition: all 0.5s ease;
}

.navbar-nav li{
  display:block!important;
  margin:2px 0px;
}

.nav-item .nav-link #userDropdown{
    display:block;
    color:white!important;
	text-transform:capitalize;
    text-decoration: none;
    padding:6px 10px; 
    transition:0.4s ease;	
}

.card-header .active a{
    color: rgb(32, 32, 32);
}

.card-header #scnd{
    color: rgb(107, 109, 110);
}

.navbar-nav > li > a i:before{
  margin:0px 5px 0px 0px;
  font-size:14px;
}

#page-content-wrapper {
    width: 100%;
	transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -270px;

	transition: all 0.5s ease;
}

 .toggled#page-content-wrapper{
  margin-left:270px;
  transition: all 0.5s ease;
 }
 
 @media only screen and (min-width:992px){
 .toggled#page-content-wrapper{
    width:calc(100% - 270px); 
	}
 }

.nav-icon1{
    z-index: 999;
    position:relative;
    display: block;
    width:23px;
    margin:0px 30px 0px 10px;
    cursor:pointer;
    height: 25px;
}

.nav-icon1 span{
  position:absolute;
  top:0;
  width:100%;
  height:3px;
  cursor:pointer;
  background-color:#007BFF;
  left:0;
  transform:rotate(0deg);
  transition:.30s ease-in-out;
}

.nav-icon1:hover span:nth-of-type(1){
  top:-3px
}

.nav-icon1:hover span:nth-of-type(3){
  top:19px;
}

.nav-icon1 span:nth-of-type(1){
   top:0;
}

.nav-icon1 span:nth-of-type(2){
   top:8px;
}

.nav-icon1 span:nth-of-type(3){
   top:16px;
}

.nav-icon1.open span:nth-of-type(1){
   top:0px;
   height: 3px;
   width: 3px;
}

.nav-icon1.open span:nth-of-type(2){
   top:8px;
   height: 3px;
   width: 3px;
}

.nav-icon1.open span:nth-of-type(3){
   top:16px;
   height: 3px;
   width: 3px;
}

.my-navbar{
  padding:0px;
  background-color:#007BFF;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}

.text-gray-600 {
    color: #858796!important;
}

/* style di logout pas mode desktop */
#drop_prof{
    width: 200px;
    margin-right: 7px;
}

#drop_prof .img-profile{
    margin-left: 40%;
    width: 35px;
    height: 35px;
}

#drop_prof h5{
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

#drop_prof h6{
    padding-top: 0;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
}

/* clear fix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.navbar-nav > li > a >i{
    font-size: 18px;
    color:#b3b3b3;
	margin:8px 0px 0px 0px;
	padding:0px;
}

.badge-counter {
    position: absolute;
    transform:scale(.7);
    transform-origin: top right;
    right:6px;
	margin-top:4px;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.nav-flag, .nav-icon {
    padding: .1rem .8rem;
    display: block;
    font-size: 1.5rem;
    color: #6c757d;
    transition: background .1s ease-in-out,color .1s ease-in-out;
    line-height: 1.4;
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-nav .dropdown-menu {
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.05);
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.dropdown-menu-lg {
    min-width: 20rem;
}

.dropdown-menu{
    border: 1px solid rgba(0,0,0,.01);
}

.position-relative {
    position: relative!important;
}

.nav-item .indicator {
    background: #3b7ddd;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.05);
    border-radius: 50%;
    display: block;
    height: 18px;
    width: 18px;
    padding: 1px;
    position: absolute;
    top: 0;
    right: -8px;
    text-align: center;
    transition: top .1s ease-out;
    font-size: .675rem;
    color: #fff;
}

.card-text{
    font-size: 15px;
}

.card-body .prodii h1{
    font-size: 25px;
    color: rgb(34, 36, 37);
}

.table .kulit{
    font-weight: bolder;
}

.table .kacang{
    font-weight: lighter;
    color: #007BFF;
    text-align: right;
}

/* style kodeprodi di dashboard admin supaya jadi biru */
.kode #koper{
    font-size: 14px;
    color: #007BFF;
    font-weight: normal;
}

/* style di dashboard admin supaya status jadi warna putih */
.card #status{
    font-size:13px;
    color: white;
}

.card {
    margin-bottom: 24px;
	border:none;
    box-shadow: 0 0 0.875rem 0 rgba(33,37,41,.05);
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-title {
    font-size: 17px;
    color: #292d31;
}

.card-body h1{
font-size: 1.75rem;
font-weight: 400;
    line-height: 1.2;
    color: #000;
}

/* style buat garis biru di atas */
#isian{
    border-top: #007BFF solid 5px;
}

.card-body #note{
    background-color: #00BEEB;
    border-left: #007BFF solid 5px;
    color: white;
}

.text-gray-800 {
    color: #5a5c69!important;
	font-size: 1.75rem;
	font-weight: 400;
    line-height: 1.2;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2)!important;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.font-16 {
    font-size: 16px;
}

 .m-r-10 {
    margin-right: 10px;
}

.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
}


.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #a1aab2;
	margin-top: -0.375rem;
}

.text-muted {
    color: #6c757d!important;
	font-size:14px;
}